trigger: none
pool: 2026-pool

jobs:
  - job: terraforminitandplan
    displayName: Terraform init and plan
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'Demo-Service Connection'
        backendAzureRmResourceGroupName: 'demo-rg'
        backendAzureRmStorageAccountName: 'demostg123'
        backendAzureRmContainerName: '.tfstate'
        backendAzureRmKey: 'terraform.tfstate'
        
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceNameAzureRM: 'Demo-Service Connection'